#comments
  background: #fff
  padding: article-padding
  border: 1px solid color-border
  border-radius: 3px
  margin: block-margin 0
  border-bottom-width: 2px
  border-top-width: 0
  box-sizing: border-box
  a
    color: color-link
